body{
    display: flex;
    height: 100vh;
    align-items: center;
}
.hide{
    display: none;
}
.logout{
    /* margin-top: 160px; */
    background-color: transparent;
    border-color: rgb(194, 3, 3);
    color: rgb(194, 3, 3);
    margin: 30px auto;
}
.user-cred{
    margin-left: 2rem;
}