body{
    height:100vh;
    display: flex;
     justify-content: center;
     align-items: center;
 }
 .live-btn{
     background-color: transparent;
     border-color: rgb(131, 0, 0);
     color: rgb(131, 0, 0);
     margin: 30px auto;
  }
  .live-btn:hover{
     background-color: rgb(131, 0, 0);
  }
  .back-btn{
     background-color: transparent;
     border-color: rgb(118, 154, 160);
     color: rgb(118, 154, 160);
     margin: 30px auto;
  }
  .back-btn:hover{
     background-color: rgb(118, 154, 160);
  }
  .buttons{
     text-align: center;
  }
  .animated-map{
   height: 30rem;
  }
  #map {
  height: 19rem; /* The height is 400 pixels */
  width: 50rem; /* The width is the width of the web page */
}
.live-tracking{
   display:flex;
   justify-content: center;
   padding-top: 1rem;
}
.live-location{
   font-size: 2rem;
}
.buttons{
   height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1rem;
  border: 2px solid rgb(223, 222, 222);
  transform: translateY(-10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.rating-btn:hover {
   cursor: pointer;
   animation: beat 1s infinite;
 }

 .like-count{
   font-size: 1.2rem;
   position: absolute;
   margin-top: 3.5rem;
   margin-right: 21rem;
   font-weight: 700;
   color: #005c06;
 }
 .dislike-count{
   font-size: 1.2rem;
   position: absolute;
   margin-top: 3.5rem;
   margin-right: 29rem;
   font-weight: 700;
   color: #7b0202;
 }
 .main-option{
   font-size: 1rem;
   font-weight: 700;
 }
 .submit-review{
   background-color: #2e4e4f;
 }
 .submit-review:hover{
   background-color: #447476;
 }
.modal-header{
   background-color: #2e4e4f;
}
.modal-title{
   color: white;
}
.node-name{
   color: rgb(128, 127, 127);
   font-weight: 300;
 }
 
 @keyframes beat {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.3);
   }
   100% {
     transform: scale(1);
   }
 }