/* picker */
@mixin hideScrollbars {
	-ms-overflow-style: none; // IE 10+
	&::-webkit-scrollbar {
		display: none;
	}
}
$blue: darken(cornflowerblue, 10);
$cool-gray: #eff1f1;
$factory-yellow: #f3e033;

* {
	box-sizing: border-box;
}
.picker-window {
	position: absolute;
	border-top: 1px solid darken($cool-gray, 10);
	border-bottom: 1px solid darken($cool-gray, 10);
	// height: 1.4em;
	height: 70px;
	left: 0;
	top: 50%;
	transform: translateY(-65%);
	width: 100%;
	cursor: pointer;
	pointer-events: none;
}

.picker {
	display: inline-grid;
	box-shadow: 0 .5vw 2vw -5px rgba(black, .2);
	border-radius: 15px;
	border-top: 2rem solid white;
	border-bottom: 2rem solid white;
	padding-left: 1rem;
	padding-right: 1rem;
	background: white;
	grid-template-columns: repeat(4, fit-content(800px));
	font-size: calc(.5rem + 2.4vw);
	position: relative;
	font-feature-settings: "tnum";
	font-weight: 400;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2.4em;
		pointer-events: none;
	}
	&:before {
		top: -.2em;
		background: linear-gradient(white, rgba(white, .7))
	}
	&:after {
		bottom: -.2em;
		height: 2.5em;
		background: linear-gradient(rgba(white, .7), white)
	}

	ul {
		@include hideScrollbars();
		max-height: 4em;
		overflow-y: scroll;
		margin-right: 1em;
		scroll-snap-type: y mandatory;
		padding-bottom: 3em;
		padding-top: 3em;
        list-style-type: none;
	}
	li {
		scroll-snap-align: center;
		height: 1.4em;
		text-align: right;
		word-spacing: .2em;
	}
	cursor: default;
}

.picker-route {
	padding-right: .5em;
}

// 
// 
// 
// $max-width: 100%;
// $max-height: 200px;
// $item-height: 50px;

// body{
//   font-family: 'Avenir';
//   font-weight: 800;
//   text-transform: uppercase;
// }
// #scroll-container{
//   overflow: hidden;
//   max-width: $max-width;
//   margin: auto;
//   height: 50vh;
//   top: 25vh;
//   position: relative;
//   min-height: $max-height;
// }
// .wrap-container{
//   position: relative;
//   max-height: $max-height;
//   width: 100%;
//   max-width: $max-width;
//   margin: auto;
//   /* background: #eee; */
//   overflow: auto;
//   padding-right: 20px; // hides scrollbar
//   mask: url(#masking);
//   -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, 
//    color-stop(0.5,  rgba(0,0,0,1)),
//    color-stop(1,  rgba(0,0,0,0)));
  
//   ul {
//     list-style: none;
//     position: relative;
//     transition: transform .3s;
//     top: $item-height;
//   }
//   ul, ul li{
//     margin: 0;
//     padding: 0;
//     text-align: center;
//   }
//   ul li{
//     height: $item-height;
//     line-height: $item-height;
//     transition: transform .3s;
//     overflow: hidden;
        
//     &:last-of-type{
//       padding-bottom: $item-height;
//     }
        
//     &.active{
//       .item{
//         transform: scale(1.9);
//       }
//     }
//   }
//   ul li .item{
//     position: relative;
//     transition: transform 200ms;
//     display: inline-block;
//   }
// }