body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 3rem;
}

#inlineRadio1{
    accent-color: rgb(118, 154, 160);
    width: 20px;
    height: 20px;
 }
 label{
    font-size: 20px;
 }
 #inlineRadio2{
    accent-color: rgb(118, 154, 160);
    width: 20px;
    height: 20px;
 }
 .back-btn{
    background-color: transparent;
    border-color: rgb(118, 154, 160);
    color: rgb(118, 154, 160);
    margin: 30px auto;
 }
 .back-btn:hover{
    background-color: rgb(118, 154, 160);
 }
 .radio{
   margin-bottom: 20px;
   text-align: center;
 }
 .route-btn{
   background-color: transparent;
   border-color: rgb(118, 154, 160);
   color: rgb(118, 154, 160);
   margin: 20px auto;
   border: none;
   padding: 10px 50px;
 }
 .route-heading{
   font-size: 25px;
 }
 .route-btn:hover{
   background-color:rgb(118, 154, 160);
}
/* to prevent the ugly border / bluish color indicating a click simply*/
/* button.btn{
   user-select: none;
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
 }
button.btn:focus {
   box-shadow: none;
   outline: none;
 } */