<%layout('layouts/boilerplate.ejs')%>
<link href="/css/contact.css" rel="stylesheet" type="text/css" />
<!-- Contact us section -->
<section id="contact">
  <div class="contact container">
    <div><h1 class="section-title">تواصل معنا</h1></div>
    <div class="contact-items">
      <!-- 1st -->
      <div class="contact-item">
        <div class="icon"><i class="fa-solid fa-phone fa-3x"></i></div>
        <div class="contact-info">
          <h1>موبايل</h1>
          <h2>+201111111</h2>
        </div>
      </div>
      <!-- 2nd -->
      <div class="contact-item">
        <div class="icon"><i class="fa-solid fa-envelope fa-3x"></i></div>
        <div class="contact-info">
          <h1>بريد الكتروني</h1>
          <h2>something@something.com</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Of Contact Section -->
