<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootsrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <!-- My CSS -->
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
    <!-- font awesome icons-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Home Page</title>
  </head>
  <body>
    <!-- main section -->
    <section id="main">
      <div class="main container d-flex align-items-center">
        <div class="container-fluid">
          <h1>Tawsila <span class="main-animation"></span></h1>
          <h2>دليلك في شوارع القاهرة<span class="main-animation"></span></h2>
          <div class="d-flex flex-row bd-highlight main-buttons">
            <a
              href="https://play.google.com/store/games"
              class="btn btn-lg download-button"
            >
              تحميل للاندرويد <i class="fa-brands fa-android fa-xl"></i>
            </a>
            <a href="/webVersion" class="btn btn-lg web-button ml-4">
              استخدم نسخة الويب <i class="fa-solid fa-globe"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Of main Section -->
    <!-- Service Section -->
    <section id="services">
      <div class="services container">
        <div class="service-top">
          <h1 class="section-title">ماذا نقدم ؟</h1>
        </div>
        <div class="service-bottom">
          <!-- 1st service card item -->
          <div class="service-item">
            <div class="icon">
              <i class="fa-solid fa-stopwatch fa-shake fa-3x"></i>
            </div>
            <h2>وفر وقتك</h2>
            <p>نساعدك على اختيار الطريق الاسرع وفقا للمدة الزمنية</p>
          </div>
          <!-- 2nd service card item -->
          <div class="service-item">
            <div class="icon">
              <i class="fa-solid fa-van-shuttle fa-3x"></i>
            </div>
            <h2>افضل الطرق</h2>
            <p>نساعدك على اختيار الطريق الاقصر وفقا للمسافة</p>
          </div>
          <!-- 3rd service card item -->
          <div class="service-item">
            <div class="icon">
              <i class="fa-solid fa-coins fa-3x"></i>
            </div>
            <h2>وفر نقودك</h2>
            <p>نساعدك على اختيار الطريق الاقل تكلفة وفقا للسعر</p>
          </div>
          <!-- 4th service card item -->
          <div class="service-item">
            <div class="icon">
              <i class="fa-solid fa-person-walking-with-cane fa-3x"></i>
            </div>
            <h2>معاونة المكفوفين</h2>
            <p>خدماتنا متاحة للمكفوفين بتجربة مميزة ومتاحة للجميع</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Service Section -->
    <!-- footer -->
    <footer id="footer">
      <div class="footer container">
        <div class="brand">
          <div class="social-icon">
            <div class="social-item">
              <a href="#"
                ><i class="fa-brands fa-facebook fa-2x facebook"></i
              ></a>
            </div>
            <div class="social-item">
              <a href="#"
                ><i class="fa-brands fa-linkedin fa-2x linkedIn"></i
              ></a>
            </div>
            <div class="social-item">
              <a href="#"><i class="fa-brands fa-instagram fa-2x insta"></i></a>
            </div>
          </div>
          <p>Copyright © 2022 ourTeam. All rights reserved</p>
        </div>
      </div>
    </footer>
    <!-- End of footer  -->
    <!-- JavaScript bootStrap code -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
