<%layout('layouts/boilerplate.ejs')%>
<!-- resultDetails.css -->
<link href="/css/liveLocation.css" rel="stylesheet" type="text/css" />
<!-- body -->
<h1>(location live tracker)</h1>
<div class="buttons">
  <button class="btn btn-lg back-btn btn-primary">Repeat Live Loction</button>
  <button class="btn btn-lg back-btn btn-primary">Stop</button>
</div>
