<%layout('layouts/boilerplate.ejs')%>
<link href="/css/result.css" rel="stylesheet" type="text/css" />
<link href="/css/resultNoScss.css" rel="stylesheet" type="text/css" />
<!-- body -->
<h1>: طريقك على حسب</h1>
<!-- radio buttons -->
<div class="radio">
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio1"
      value="option1"
    />
    <label class="form-check-label" for="inlineRadio1">السعر</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio2"
      value="option2"
    />
    <label class="form-check-label" for="inlineRadio2">الوقت</label>
  </div>
</div>
<!-- picker -->
<div class="picker">
  <div class="picker-window"></div>
  <ul class="picker-route">
    <% for(let i = 0; i<= 20 ; i++){ %>
    <li class="li">Bus1 - Bus2 - Bus3</li>
    <% } %>
  </ul>
</div>

<!-- back button -->
<div class="ctrl-btn">
  <a href="/webVersion" class="btn btn-lg btn-primary back-btn">Back</a>
</div>
<!-- result.js -->
<script src="/js/result.js"></script>
