<%layout('layouts/boilerplate.ejs')%>
<!-- resultDetails.css -->
<link href="/css/resultDetails.css" rel="stylesheet" type="text/css" />
<!-- body -->
<h1>(your path in details)</h1>
<div class="buttons">
  <a href="/resultDetails/liveLocation" class="btn btn-lg live-btn btn-danger"
    >Start Live Location</a
  >
  <a href="/webVersion/result" class="btn btn-lg back-btn btn-primary">Back</a>
</div>
