<%layout('layouts/boilerplate.ejs')%>
<link href="/css/settings.css" rel="stylesheet" type="text/css" />

<div class="custom-card">
  <!-- toggle switch -->
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1" />
    <label class="custom-control-label" for="customSwitch1">Dark Mode</label>
  </div>
  <!-- Profile -->
  <a href=""><i class="fa-solid fa-user"></i> Account</a>
</div>
