<%layout('layouts/boilerplate.ejs')%>
<link href="/css/webVersion.css" rel="stylesheet" type="text/css" />
<!-- body -->
<div class="main-section">
  <div class="custom-card">
    <form action="/webVersion/result" method="post" autocomplete="off" name="availablePathsForm" onsubmit="select()">
      <h1 class="">طريقك</h1>
      <!-- location -->
      <div class="autocomplete" style="width: 300px">
        <input id="myInput" type="text" name="Location" list="Location" placeholder="Location" />
        <datalist id="Location">
          <%for(let i = 0  ; i<stops.length ; i++){%>
            <option value="<%=stops[i]%>"></option>
            <%}%>
        </datalist>
      </div>
      <!-- end Of loation-->

      <!-- destination -->
      <div class="autocomplete" style="width: 300px">
        <input id="myInput1" type="text" name="Destination" list="Destination" placeholder="Destination"/>
        <datalist id="Destination">
          <%for(let i = 0  ; i<stops.length ; i++){%>
            <option value="<%=stops[i]%>"></option>
            <%}%>
        </datalist>
      </div>
      <!-- end Of destination -->

      <!-- Cost Or Time Or Distance-->
      <div class="radio">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Cost</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">Time</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            value="option3"
          />
          <label class="form-check-label" for="inlineRadio3">Distance</label>
        </div>
      </div>
      <!-- end of cost or time -->

      <!-- submit button -->
      <div class="ctrl-btn">
        <button class="btn btn-lg btn-primary result-btn">OK</button>
      </div>
      <!-- end of submit button  -->
    </form>
  </div>
  <!-- blind mode button -->
  <button class="blind-btn">
    <i class="fa-solid fa-person-walking-with-cane fa-2xl fa-beat"></i>
  </button>
  <!-- end of blind mode button -->
</div>
<!-- End Of main Section -->
<script src="seed.js"></script>
<script src="seed2.js"></script>
<script src="/js/blindmode.js"></script>
<script src="/js/result.js"></script>
